/*
FORMA DE COMO DEBEN IR ORGANIZADOS LOS ESTILOS
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
*/
/*ESTILOS BASE--------------------------------------------*/
:root{
    /*Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/*ESTILOS DEL HEADER---------------------------------------*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    /*Como podemos centrar un elemento que esta dentro de un contenedor con display flex*/
    align-self: center;
}
.header__title-container{
    width: 90%;
    min-width: 228px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container h1{
    font-size: 2.4rem;
    font-weight: bold;/*Es para el grueso de la fuente*/
    line-height: 2.6rem;/*Es para el espacio entre lineas*/
    color: var(--just-white);
}
.header__title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;/*Es para el espacio entre lineas*/
    color: var(--soft-orange); 
}
.header__title-container .header__button{
    position: absolute;
    left: calc(50% - 118px);/*Para centrar el boton*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/vector-black-down.svg');
}
/*ESTILOS DEL MAIN---------------------------------------------------------*/
main{
    width: 100%;
    height: auto;/*Va cresiendo a la medida que crece el contenido*/
    background-color: var(--off-white);
}
/*ESTILOS DE LA SECCION INTERCAMBIO*/
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container__title{
    width: 90%;
    min-width: 288px;/*limite minimo del width*/
    max-width: 900px;/*limite maximo del width*/
    margin: 0 auto;/*Para centrar*/
}
.main-exchange-container__backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/imgs/Bitcoin.svg');
    background-size: cover;
    background-position: center;/*Para que la imagen quede centrada*/
    background-repeat: no-repeat;/*Garantiza que la imagen no se repita si es mas pequeña que el contenedor*/
}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-tables-container{
    display: flex;
    min-height: 300px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-currency-table{
    position: relative;
    scroll-snap-align: center;
    width: 70%;/*No ocupa toda la pantalla*/
    min-width: 235px;/*Para asegurar que no se aga mas pequeña de 235px*/
    max-width: 500px;/*No cresca mas de 500px*/
    height: 360px;
    margin: 0 30px;
    font-family: "Inter", sans-serif;
}
/*Para mayor especificidad y evitar conflictos es recomendable invocar varias
clases teniendo en cuenta la gerarquia*/
.main-currency-table .currency-table__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
    padding-left: 20px;/*Se lo agrege yo*/
}
.currency-table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table__container table{
    width: 100%;
    height: 100%;}
.currency-table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    padding-left: 15px;/*Se lo agrege yo*/
    text-align: left;/*Se lo agrege yo*/
}
/*A la etiqueta tabla, no se visualiza el border radius, por eso se le aplica 
este estilo a las celdas de las esquinas de la siguiente manera*/
.currency-table__container .table--top-left{
    border-radius: 15px 0 0 0;
}
.currency-table__container .table--top-right{
    border-radius: 0 15px 0 0;
}
.currency-table__container .table--bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table__container .table--bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table__container .table--right{
    padding-left: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table__container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table__container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table__date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    align-content: center;
    border-radius: 8px;
}
.currency-table__date p{
    font-size: 1.2rem;  
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);     
}
.main-comisiones-table{
    position: relative;
    scroll-snap-align: center;
    width: 70%;/*No ocupa toda la pantalla*/
    min-width: 235px;/*Para asegurar que no se aga mas pequeña de 235px*/
    max-width: 500px;/*No cresca mas de 500px*/
    height: 360px;
    margin: 0 30px;
    font-family: "Inter", sans-serif;
}
/*Para mayor especificidad y evitar conflictos es recomendable invocar varias
clases teniendo en cuenta la gerarquia*/
.main-comisiones-table .comisiones-table__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secundary-blue);
    text-align: left;
    padding-left: 20px;/*Se lo agrege yo*/
}
.comisiones-table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.comisiones-table__container table{
    width: 100%;
    height: 100%;}
.comisiones-table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    padding-left: 15px;/*Se lo agrege yo*/
    text-align: left;/*Se lo agrege yo*/
}
/*A la etiqueta tabla, no se visualiza el border radius, por eso se le aplica 
este estilo a las celdas de las esquinas de la siguiente manera*/
.comisiones-table__container .table--top-left{
    border-radius: 15px 0 0 0;
}
.comisiones-table__container .table--top-right{
    border-radius: 0 15px 0 0;
}
.comisiones-table__container .table--bottom-left{
    border-radius: 0 0 0 15px;
}
.comisiones-table__container .table--bottom-right{
    border-radius: 0 0 15px 0;
}
.comisiones-table__container .table--right{
    padding-left: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.comisiones-table__date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    align-content: center;
    border-radius: 8px;
}
.comisiones-table__date p{
    font-size: 1.2rem;  
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);     
}
/*ESTILOS DE LA SECCION BENEFICIOS*/
.main-product-detail{
    position: relative;/*Se utiliza para poder utilizar el position absolute en  batata-logo */
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail__batata-logo{
    position: absolute;/*Requiere que el contenedor padre tenga position relative*/
    top: -10px;
    left: calc(50% - 20px);/*Centra la imagen*/
    width: 40px;
    height: 25px;
    margin-left: 10px;
    background-image: url('../assets/icons/batata.svg');  
}
.product-detail__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail__title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail__title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail__card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail__card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/clock.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product__card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
} 
.product__card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
} 
.product-detail__card .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/eye.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-detail__card .moneda{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/dollar-sign.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-detail__card .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/check-circle.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*SECCION DE CONOCELO HOY*/
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 70vh;
    background-image: url('../assets/imgs/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;/*Me centra texto en este contenedor - Centra el h2*/
}
.bitcoin-img-container h2{
    padding-top: 70px;
    text-align: center;
    font-size: 2.4rem;  
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white)
}
/*SECCION DE PLANES*/
.main-plans-container{
    width: 100%;
    min-width: 320px;
    max-width: 500px; 
    padding-bottom: 70px;
    text-align: center;
}
.plans__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans__title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans__title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
/*Creamos el deslizador horizontal*/
.plans-container__slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 10px 0;
}
.plans-container__card{
    position: relative;
    scroll-snap-align: center;/*Aliniar el elemento en elcento*/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    min-height: 230px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container__card .recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    border-radius: 8px;
    padding: 6px;
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);  
}
.plans-card__title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plans-card__price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.plans-card__price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: top;
}
.plans-card__saving{
    font-size: 1.2rem;
    color: #757575;
}
.plans-card__ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);   
}
.plans-card__ca span{
    display: inline-block;/*Para poder ver el icono*/
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url('../assets/icons/arrow-right.svg');
    vertical-align: text-bottom;/*Aliniar el icon con el texto del boton*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*SECCION DEL FOOTER ------------------------------------*/
footer{
    display: flex;
    width: 100%;
    min-width: 320px;
    min-height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.footer-container__link ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.footer-container__link li{
    margin: 10px 0px;
}
.footer-container__link a{
    text-decoration: none;
    color: var(--just-white);
}