/*
FORMA DE COMO DEBEN IR ORGANIZADOS LOS ESTILOS
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
*/
/*ESTILOS BASE-----------------------------------------*/
:root{
    /*Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/*-------------------------------------------------------*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    /*Como podemos centrar un elemento que esta dentro de un contenedor con display flex*/
    align-self: center;
}
.header__title-container{
    width: 90%;
    min-width: 228px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container h1{
    font-size: 2.4rem;
    font-weight: bold;/*Es para el grueso de la fuente*/
    line-height: 2.6rem;/*Es para el espacio entre lineas*/
    color: var(--just-white);
}
.header__title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;/*Es para el espacio entre lineas*/
    color: var(--soft-orange); 
}
.header__title-container .header__button{
    position: absolute;
    left: calc(50% - 118px);/*Para centrar el boton*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/vector-black-down.svg');
}
main{
    width: 100%;
    height: auto;/*Va cresiendo a la medida que crece el contenido*/
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container__title{
    width: 90%;
    min-width: 288px;/*limite minimo del width*/
    max-width: 900px;/*limite maximo del width*/
    margin: 0 auto;/*Para centrar*/
}
.main-exchange-container__backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/imgs/Bitcoin.svg');
    background-size: cover;
    background-position: center;/*Para que la imagen quede centrada*/
    background-repeat: no-repeat;/*Garantiza que la imagen no se repita si es mas pequeña que el contenedor*/
}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-currency-table{
    width: 70%;/*No ocupa toda la pantalla*/
    min-width: 235px;/*Para asegurar que no se aga mas pequeña de 235px*/
    max-width: 500px;/*No cresca mas de 500px*/
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
/*Para mayor especificidad y evitar conflictos es recomendable invocar varias
clases teniendo en cuenta la gerarquia*/
.main-currency-table .currency-table__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
}
.currency-table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table__container table{
    width: 100%;
    height: 100%;}
.currency-table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}